{{define "index"}}
{{template "header" .}}
<div class="card">
  <form action="/ascii-art" method="post">
    <textarea placeholder="Enter text here" name="text" maxlength="2000" required></textarea><br>
    <div id="font" class="radio-group">
      <label><input type="radio" name="font" value="standard" checked> Standard</label>
      <label><input type="radio" name="font" value="shadow"> Shadow</label>
      <label><input type="radio" name="font" value="thinkertoy"> Thinkertoy</label>
    </div>
    <button type="submit">Generate ASCII</button>
  </form>
</div>
{{template "footer" .}}
{{end}}