{{define "content"}}
<div class="card">
  <form action="/ascii-art" method="post">
    <label>Input text:</label><br>
    <textarea id="text" name="text" required>{{.RawInput}}</textarea><br>

    <label>Font:</label>
    <div id="font" class="radio-group">
      <label><input type="radio" name="font" value="standard" checked> Standard</label>
      <label><input type="radio" name="font" value="shadow"> Shadow</label>
      <label><input type="radio" name="font" value="thinkertoy"> Thinkertoy</label>
    </div>

    <button type="submit">Generate ASCII</button>
  </form>


</div>
{{end}}

{{define "index"}}{{template "base" .}}{{end}}